@*******************************************************************************************************
//  History.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  03/03/2016 - Russell Robertson
//       Generated original version of source code.
//
//*****************************************************************************************************@

@using GSF.Web.Model
@using openSPM.Model
@using GSF


@model openSPM.Model.AppModel
@{
    DataContext dataContext = Model.DataContext;

    ViewBag.HeaderColumns = new[]
{
        //    { "Field", "Label", "Classes" }
        new[] { "VendorPatchName", "Patch ID", "text-center" },
        new[] { "BusinessUnitID", "Business Unit", "text-left"},
        new[] { "VendorName", "Vendor", "text-left"},
        new[] { "ProductName", "Product", "text-left"},
        new[] { null, "AssessmentID", "text-left valign-middle"},
        new[] { null, "Action Taken", "text-left valign-middle"},
        new[] { null, "Assessment Date", "text-center valign-middle" },
        new[] { null, "InstallID", "text-center valign-middle" },
        new[] { null, "Install Date", "text-center valign-middle" },
        new[] { null, "Mitigation Plan ID", "text-center valign-middle" },
        new[] { null, "Mitigation Plan Date", "text-center valign-middle" },
        new[] { null, "Closed Date", "text-center valign-middle" },
    };

    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.HideAddNewButton = true;
}
@helper PatchFilter()
{
    <div class='row'>
        <div class='col-md-4'>
            <div class='form-group'>
                <label for='patchfilter'>Patch ID Filter:</label>
                <div class='right-inner-addon'>
                    <i class='glyphicon glyphicon-search'></i>
                    <input class='form-control' type='search' id='patchfilter' placeholder='Search' />
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='form-group'>
                <label for='vendorfilter'>Vendor Name Filter:</label>
                <div class='right-inner-addon'>
                    <i class='glyphicon glyphicon-search'></i>
                    <input class='form-control' type='search' id='vendorfilter' placeholder='Search' />
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='form-group'>
                <label for='platformfilter'>Product Name Filter:</label>
                <div class='right-inner-addon'>
                    <i class='glyphicon glyphicon-search'></i>
                    <input class='form-control' type='search' id='platformfilter' placeholder='Search' />
                </div>
            </div>
        </div>
    </div>
}


@helper BodyRows()
{


    <td width="15%" class="text-left valign-middle"><button type="button" class="btn btn-link" data-bind="text: VendorPatchName, click: viewPatch.bind($data)"></button></td>
    <td width="15%" class="text-left valign-middle"><div nowrap data-bind="text: lookupAbbreviationValue(BusinessUnitID)"></div></td>
    <td width="10%" class="text-left valign-middle"><div nowrap data-bind="text: VendorName"></div></td>
    <td width="15%" class="text-left valign-middle"><div nowrap data-bind="text: ProductName"></div></td>
    <td width="10%" class="text-center valign-middle"><button type="button" class="btn btn-link" data-bind="text: AssessmentID, click: viewAssessment.bind($data)"></button></td>
    <td width="10%" class="text-left valign-middle"><div nowrap data-bind="text: lookupAssessactionValue(AssessmentResultKey)"></div></td>
    <td width="10%" class="text-center valign-middle"><div nowrap data-bind="text: AssessmentDate.formatDate(DateFormat)"></div></td>
    <td width="10%" class="text-center valign-middle"><button type="button" class="btn btn-link" data-bind="text: InstallID, visible: checkNull(InstallID),click: viewInstall.bind($data)"></button></td>
    <td width="10%" class="text-center valign-middle"><div nowrap data-bind="text: dateFixer(InstallDate)"></div></td>
    <td width="10%" class="text-center valign-middle"><button type="button" class="btn btn-link" data-bind="text: MitigationPlanID, visible: checkNull(MitigationPlanID),click: viewMitigation.bind($data)"></button></td>
    <td width="10%" class="text-center valign-middle"><div nowrap data-bind="text: dateFixer(MitigationPlanCreatedDate)"></div></td>
    <td width="10%" class="text-center valign-middle"><div nowrap data-bind="text: dateFixer(ClosedDate)"></div></td>

    @*<td width="5%" class="text-center valign-middle"><button type="button" class="btn btn-default btn-sm" data-bind="click: openManageDocumentsDialog.bind($data), enable: $parent.dataHubIsConnected">Docs&nbsp;&nbsp;<span class="badge" data-bind="text: getDocumentCount(ID, $($element)), attr: {id: 'documentCount' + ID}">0</span></button></td>*@
    @*<td width="5%" class="text-center valign-middle" nowrap>
            <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.canEdit() && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.canDelete() && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-remove"></span></button>
        </td>*@
}

@helper AddNewEditDialog(DataContext dataContext)
{

}
@Html.Partial("PagedViewModel")

@*<div id="manageDocumentsDialog" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <iframe style="border: none" id="manageDocumentsFrame"></iframe>
                <button type="button" class="btn btn-default pull-right popup-ok-button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
*@

<div id="installDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header modal-readonly">
                <button type="button" class="close" data-dismiss="modal" id="dismissDialogButton">&times;</button>
                <h4 class="modal-title">
                    <span>Installation Record</span>
                </h4>
            </div>
            <div class="modal-body auto-height modal-readonly">
                <form role="form">
                    <label for="patchidinstall">Install ID</label>
                    <div id="patchidinstall" class="form-control"></div>
                    <label for="patchnameinstall">Patch Name</label>
                    <div class="form-control" id="patchnameinstall"></div>
                    <label for="businessunitinstall">Business Unit</label>
                    <div class="form-control" id="businessunitinstall"></div>
                    <label for="workmangamentidinstall">WorkManagement ID</label>
                    <div id="workmangamentidinstall" class="form-control"></div>
                    <label for="completeddateinstall">Completed Date</label>
                    <div class="form-control" id="completeddateinstall"></div>
                    <label for="completednotesinstall">Completed Notes</label>
                    <div id="completednotesinstall" class="form-control"></div>
                </form>
            </div>
            <div class="modal-footer modal-readonly">
                 <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<div id="mitigationDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-readonly">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span>Mitigation Plan Record</span>
                </h4>
            </div>
            <div class="modal-body auto-height modal-readonly">
                <form role="form">
                    <label for="mitigationid">Mitigation Plan ID</label>
                    <div id="mitigationid" class="form-control"></div>
                    <label for="patchnamemit">Patch Name</label>
                    <div class="form-control" id="patchnamemit"></div>
                    <label for="businessunitmit">Business Unit</label>
                    <div class="form-control" id="businessunitmit"></div>
                    <label for="miplanid">MiPlan ID</label>
                    <div id="miplanid" class="form-control"></div>
                    <label for="approvedonmit">Approved On</label>
                    <div id="approvedonmit" class="form-control"></div>
                    <label for="approvedbymit">Approved By</label>
                    <div id="approvedbymit" class="form-control"></div>
                    <label for="summarymit">Summary</label>
                    <div id="summarymit" class="form-control"></div>
                </form>
            </div>
            <div class="modal-footer modal-readonly">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="assessmentDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-readonly">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span>Assessment Record</span>
                </h4>
            </div>
            <div class="modal-body auto-height modal-readonly">
                <form role="form">
                    <label for="assidass">Assessment ID</label>
                    <div id="assidass" class="form-control"></div>
                    <label for="patchnameass">Patch Name</label>
                    <div class="form-control" id="patchnameass"></div>
                    <label for="businessunitass">Business Unit</label>
                    <div class="form-control" id="businessunitass"></div>
                    <label for="assessmentkeyass">Assessment Result</label>
                    <div class="form-control" id="assessmentkeyass"></div>
                    <label for="closeddateass">Closed Date</label>
                    <div class="form-control" id="closeddateass"></div>
                    <label for="detailscloseass">Details/Notes</label>
                    <div class="form-control" id="detailscloseass"></div>
                </form>
            </div>
            <div class="modal-footer modal-readonly">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="patchDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-readonly">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span>Patch Record</span>
                </h4>
            </div>
            <div class="modal-body auto-height modal-readonly">
                <form role="form">
                    <label for="patchidpatch">PatchID</label>
                    <div id="patchidpatch" class="form-control"></div>
                    <label for="patchnamepatch">Patch Name</label>
                    <div class="form-control" id="patchnamepatch"></div>
                    <label for="vendoridpatch">Vendor</label>
                    <div class="form-control" id="vendoridpatch"></div>
                    <label for="vendorreleasedatepatch">Vendor Release Date</label>
                    <div class="form-control" id="vendorreleasedatepatch"></div>
                    <label for="platformpatch">Platform</label>
                    <div class="form-control" id="platformpatch"></div>
                    <label for="detailspatch">Details/Notes</label>
                    <div id="detailspatch" class="form-control"></div>
                </form>
            </div>
            <div class="modal-footer modal-readonly">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        @Html.Raw(Model.RenderViewModelConfiguration<HistoryView>(ViewBag))
        @Html.Raw(Model.RenderValueListClientLookupFunction("assessAction", "Abbreviation"))
        @Html.Raw(Model.RenderAbstract<BusinessUnit>("Abbreviation"))

        $(function () {
            $("#pageHeader").append("@Html.Raw(PatchFilter().ToString().RemoveDuplicateWhiteSpace().Replace("\r\n", ""))");

            $('#patchfilter').on('keyup', function (e) {
                if ($('#patchfilter').val().length == 0) {
                    viewModel.filterText = '%';
                    viewModel.filterPageRecords();
                } else {
                    viewModel.filterText = $('#patchfilter').val() + ';' + $('#platformfilter').val() + ';' + $('#vendorfilter').val();
                    viewModel.filterPageRecords();

                }

            });

            $('#platformfilter').on('keyup', function (e) {
                if ($('#platformfilter').val().length == 0) {
                    viewModel.filterText = '%';
                    viewModel.filterPageRecords();
                } else {
                    viewModel.filterText = $('#patchfilter').val() + ';' + $('#platformfilter').val() + ';' + $('#vendorfilter').val();
                    viewModel.filterPageRecords();

                }

            });

            $('#vendorfilter').on('keyup', function (e) {
                if ($('#vendorfilter').val().length == 0) {
                    viewModel.filterText = '%';
                    viewModel.filterPageRecords();
                } else {
                    viewModel.filterText = $('#patchfilter').val() + ';' + $('#platformfilter').val() + ';' + $('#vendorfilter').val();
                    viewModel.filterPageRecords();

                }

            });
            $("#patchDialog").modal({ show: false, backdrop: "static", keyboard: false });
            $("#assessmentDialog").modal({ show: false, backdrop: "static", keyboard: false });
            $("#installDialog").modal({ show: false, backdrop: "static", keyboard: false });
            $("#mitigationDialog").modal({ show: false, backdrop: "static", keyboard: false });

        });

        function viewPatch(record) {
            if (viewModel.dataHubIsConnected) {
                dataHub.queryPatchVendorPlatformViews(record.PatchID, null).done(function (data) {
                    $('#patchidpatch').html(data[0].ID);
                    $('#patchnamepatch').html(data[0].VendorPatchName);
                    $('#vendoridpatch').html(data[0].VendorName);
                    $('#vendorreleasedatepatch').html((data[0].VendorReleaseDate).formatDate(DateFormat));
                    $('#platformpatch').html(data[0].PlatformName);
                    $('#detailspatch').html(data[0].Detail);
                    $("#patchDialog").modal("show");
                });
            }

        }

        function viewAssessment(record) {
            if (viewModel.dataHubIsConnected) {
                console.log(record);
                dataHub.queryAssessmentHistoryViews(record.AssessmentID, null).done(function (data) {
                    $('#assidass').html(data[0].AssessmentID);
                    $('#patchnameass').html(data[0].VendorPatchName);
                    $('#businessunitass').html(data[0].BusinessUnit);
                    $('#assessmentkeyass').html(data[0].AssessmentResult);
                    $('#closeddateass').html((data[0].CreatedOn).formatDate(DateFormat));
                    $('#detailscloseass').html(data[0].Details);
                    $("#assessmentDialog").modal("show");
                });
            }

        }

        function viewInstall(record) {
            if (viewModel.dataHubIsConnected) {
                dataHub.queryInstallHistoryViews(record.InstallID, null).done(function (data) {
                    $('#patchidinstall').html(data[0].InstallID);
                    $('#patchnameinstall').html(data[0].VendorPatchName);
                    $('#businessunitinstall').html(data[0].BusinessUnit);
                    $('#workmangamentidinstall').html(data[0].WorkManagementID);
                    $('#completeddateinstall').html((data[0].CompletedOn).formatDate(DateFormat));
                    $('#completednotesinstall').html(data[0].CompletedNotes);
                    $("#installDialog").modal("show");
                });
            }

        }

        function viewMitigation(record) {
            if (viewModel.dataHubIsConnected) {
                dataHub.queryMitigationPlanHistoryViews(record.MitigationPlanID, null).done(function (data) {
                    $('#mitigationid').html(data[0].MitigationPlanID);
                    $('#patchnamemit').html(data[0].VendorPatchName);
                    $('#businessunitmit').html(data[0].BusinessUnit);
                    $('#miplanid').html(data[0].MiPlanID);
                    if(data[0].ApprovedOn !== null)
                        $('#approvedonmit').html((data[0].ApprovedOn).formatDate(DateFormat));
                    $('#approvedbymit').html(data[0].ApprovedByName);
                    $('#summarymit').html(data[0].Summary);
                    $("#mitigationDialog").modal("show");
                });
            }

        }
        function checkNull(id) {
            if (id !== null) return true;
            else return false;
        }
        function dateFixer(date) {
            if (date !== null) return date.formatDate(DateFormat);
            else return " ";
        }
    </script>
}

