@*******************************************************************************************************
    //  Home.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/22/2016 - J. Ritchie Carroll
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@using GSF
@using GSF.Data.Model
@using GSF.Web.Model
@using openSPM.Model
@model openSPM.Model.AppModel
@{
    // DataContext is the "database connection" that is available for the page, you can
    // use direct database calls, e.g., dataContect.Connection.RetrieveData(...) or you
    // can use model based table operations, e.g., dataContext.Table<Page>().LoadRecord(id)
    DataContext dataContext = Model.DataContext;
    Dictionary<string, string> appSettings = Model.Global.ApplicationSettings;
    string value, statusLightsImagePath;

    const string noneImage = "greenlight.png";
    const string warningImage = "yellowlight.png";
    const string alarmImage = "amberlight.png";
    const string criticalAlarmImage = "redlight.png";
    const string violationImage = "blacklight.png";

    int groupID = dataContext.Connection.ExecuteScalar<int?>("SELECT ID FROM ValueListGroup WHERE Name = 'dayLimits'") ?? 0;
    ViewBag.alarmDayLimits = Json.Encode(dataContext.Table<ValueList>().QueryRecords(restriction: new RecordRestriction("GroupID = {0}", groupID)).ToArray());

    if (!appSettings.TryGetValue("statusLightsImagePath", out value))
    {
        statusLightsImagePath = Model.GetPageSetting(ViewBag, "statusLightsImagePath", "~/Images/StatusLights/Small/");
        statusLightsImagePath = Url.Content(statusLightsImagePath).EnsureEnd('/');
    }
    else
    {
        statusLightsImagePath = value;
    }

}
<script src="~/Scripts/jquery-2.2.1.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
<script src="~/Scripts/respond.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/bootstrap-toolkit.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>

<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Site.js"></script>

<script src="~/Scripts/knockout-3.4.0.debug.js"></script>
<script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
<script src="~/Scripts/knockout.validation.min.js"></script>
<script src="@("@GSF/Web/Model/Scripts/js.cookie.js")"></script>
<script src="@("@GSF/Web/Model/Scripts/ko-reactor.min.js")"></script>
<script src="@("@GSF/Web/Model/Scripts/ko.observableDictionary.js")"></script>

<div class="row">
<div class="col-md-6">
    <p>&nbsp;</p>
    <table>
        <tr>
            <td colspan="4"><b>Active Corporate Patches</b></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td align="right">&nbsp;Today&nbsp;</td>
            <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;(T-7)</td>
            <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;(T-14)</td>
        </tr>

        <tr>
            <td>Total</td>
            <td align="right">@ViewBag.todaysTotalPatchCount</td>
            <td align="right">@ViewBag.lastWeeksTotalPatchCount</td>
            <td align="right">@ViewBag.lastTwoWeeksTotalPatchCount</td>
        </tr>

        <tr>
            <td>Waiting Assessment</td>
            <td align="right">@ViewBag.todaysWaitingAssessmentPatchCount</td>
            <td align="right">@ViewBag.lastWeeksWaitingAssessmentPatchCount</td>
            <td align="right">@ViewBag.lastTwoWeeksWaitingAssessmentPatchCount</td>
        </tr>

        <tr>
            <td>Requiring Patch</td>
            <td align="right">@ViewBag.todaysRequiringPatchCount</td>
            <td align="right">@ViewBag.lastWeeksRequiringPatchCount</td>
            <td align="right">@ViewBag.lastTwoWeeksRequiringPatchCount</td>
        </tr>

        <tr>
            <td>Requiring Mit Plan</td>
            <td align="right">@ViewBag.todaysRequiringMitigationCount</td>
            <td align="right">@ViewBag.lastWeeksRequiringMitigationCount</td>
            <td align="right">@ViewBag.lastTwoWeeksRequiringMitigationCount</td>
        </tr>

    </table>

    <p>&nbsp;</p>
    <table>
        <tr>
            <td colspan="3"><b>Year-To-Date</b></td>
        </tr>
        <tr>
            <td align="left">Patches Assessed</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDPatchesAssesed</td>
        </tr>
        <tr>
            <td align="left">Patches Not Applicable&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDPatchesNotApplicaple</td>
        </tr>
        <tr>
            <td align="left">Patches Applied</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDPatchesApplied</td>
        </tr>
        <tr>
            <td align="left">Mitigation Plans</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDPatchesMitigationPlans</td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <table>
        <tr>
            <td colspan="3"><b>YTD Critical Alarms</b></td>
        </tr>
        <tr>
            <td align="left">Discovery</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDCriticalAlarmsDiscovery</td>
        </tr>
        <tr>
            <td align="left">Assessment</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDCriticalAlarmsAssessment</td>
        </tr>
        <tr>
            <td align="left">Installation</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDCriticalAlarmsInstallation</td>
        </tr>
        <tr>
            <td align="left">Mitigation Plans&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDCriticalAlarmsMitigationPlans</td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <table>
        <tr>
            <td colspan="3"><b>YTD Violations</b></td>
        </tr>
        <tr>
            <td align="left">Discovery</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDViolationsDiscovery</td>
        </tr>
        <tr>
            <td align="left">Assessment</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDViolationsAssessment</td>
        </tr>
        <tr>
            <td align="left">Installation</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDViolationsInstallation</td>
        </tr>
        <tr>
            <td align="left">Mitigation Plans&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">@ViewBag.YTDViolationsMitigationPlans</td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <table>
        <tr>
            <td colspan="2"><b>My Patches</b></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;</td>
            <td>
                <table>
                    <tr>
                        <td align="left">Total Active</td>
                        <td>&nbsp;&nbsp;</td>
                        <td align="right">@ViewBag.MyPatchesActive</td>
                    </tr>
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr>
                        <td align="left">Pending</td>
                        <td>&nbsp;&nbsp;</td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;&nbsp;Assessment</td>
                        <td>&nbsp;&nbsp;</td>
                        <td align="right">@ViewBag.MyPendingAssessment</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;&nbsp;Installation</td>
                        <td>&nbsp;&nbsp;</td>
                        <td align="right">@ViewBag.MyPendingInstall</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;&nbsp;Mitigation Plans&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;</td>
                        <td align="right">@ViewBag.MyPendingMitigationPlan</td>
                    </tr>
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr>
                        <td align="left">Critical Alarms</td>
                        <td>&nbsp;&nbsp;</td>
                        <td align="right">@ViewBag.MyCriticalAlarms</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>

<div class="col-md-6">


    <p>&nbsp;</p>
    <table>
        <tr><td colspan="4"><b>Patches in Alarm</b></td></tr>
        <tr>
            <td align="left" width="16">&nbsp;</td>
            <td align="center">&nbsp;<u>ToGo Days</u>&nbsp;</td>
            <td align="center">&nbsp;<u>&nbsp;&nbsp;Process Step&nbsp;&nbsp;</u>&nbsp;</td>
            <td align="center"><u>&nbsp;&nbsp;&nbsp;&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;</u></td>
        </tr>

        <tbody data-bind="foreach: alarms">
        <tr>
            <td align="left" width="5%" class="text-center valign-middle"><img src="~/Images/StatusLights/Small/greenlight.png" alt="OK" title="OK" data-bind="attr: {'update-attr': getStatusImage($($element), $data)}"></td>
            <td align="right" data-bind="text: dateFixer(VendorReleaseDate)">&nbsp;&nbsp;</td>
            <td align="center" data-bind="text: lookupPatchstatusValue(PatchStatusKey)"></td>
            <td align="center" data-bind="text: PatchMnemonic"></td>
        </tr>
        </tbody>

    </table>

    <p>&nbsp;</p>
    <table>
    <tr><td colspan="3" align="left"><b>Patches Added Today</b></td></tr>
    <tr>
        <td align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
        <td align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;Product&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
        <td align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;Vendor&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
    </tr>
    <tbody data-bind="foreach: patches">
    <tr>
        <td align="center" data-bind="text: VendorPatchName"></td>
        <td align="center" data-bind="text: lookupNameValue(PlatformID)"></td>
        <td align="center" data-bind="text: lookupAbbreviationValue(VendorID)"></td>
    </tr>
    </tbody>

    </table>

</div>

</div>
    
<!-- Modal -->
<div id="detailsModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <iframe style="border: none" id="detailsModalFrame"></iframe>
                <button type="button" class="btn btn-default pull-right popup-ok-button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    @Html.Raw(Model.RenderAbstract<Patch>("VendorPatchName"))
    @Html.Raw(Model.RenderValueListClientLookupFunction("patchStatus"))
    @Html.Raw(Model.RenderAbstract<Platform>("Name"))
    @Html.Raw(Model.RenderAbstract<Vendor>("Abbreviation"))

    function HomePageViewModel() {
        var self = this;


        self.alarms = ko.observableArray(@Html.Raw(Json.Encode(ViewBag.PatchesInAlarm)));
        self.patches = ko.observableArray(@Html.Raw(Json.Encode(ViewBag.PatchesAddedToday)));
    }

    ko.applyBindings(new HomePageViewModel());

    function dateFixer(date) {
        if (date === undefined) return '';
        var str = date.slice(6, date.length - 2);
        var newDate = new Date().setTime(str);
        var today = new Date();
        var ret = 35- ((today - newDate) / 1000 / 60 / 60 / 24).toFixed(0);

        return ret;
    }

    function getStatusImage(element, record) {

            var alarmDayLimits = @Html.Raw(ViewBag.alarmDayLimits);
            const critcalAlarmDays = alarmDayLimits[0].Value;
            const warningDays = alarmDayLimits[1].Value;
            const alarmDays = alarmDayLimits[2].Value;
            const violationDays = alarmDayLimits[3].Value;
            const daysUntilDeadline = (dateFixer(record.VendorReleaseDate));

            var image, title;
            switch (true) {
                case (daysUntilDeadline <= (violationDays - violationDays)):
                    image = "@violationImage";
                    title = "Violation";
                    break;
                case (daysUntilDeadline <= critcalAlarmDays):
                    image = "@criticalAlarmImage";
                    title = "Critical Alarm";
                    break;
                case (daysUntilDeadline <= violationDays - alarmDays):
                    image = "@alarmImage";
                    title = "Alarm";
                    break;
                case (daysUntilDeadline <= violationDays - warningDays):
                    image = "@warningImage";
                    title = "Warning";
                    break;
                default:
                    image = "@noneImage";
                    title = "OK";
                    break;
            }

            element.attr("src", "@statusLightsImagePath" + image);
            element.attr("alt", title);
            element.attr("title", title);

            return undefined;
        }

    function openModal(record) {
        //console.log(record);
        $("#detailsModalFrame").attr({
            "src": "@Url.Content("~/Main/PlanView")?ID=" + record.ID + "&Title=" + encodeURIComponent(record.Title),
            "height": ($(document).height() - 250) + "px",
            "width": "100%"
        });

        $("#detailsModal").modal("show");
    }
</script>
