@*******************************************************************************************************
//  Patches.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  02/20/2016 - Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using GSF
@using GSF.Data.Model
@using GSF.Web.Model
@using openSPM.Model
@model AppModel
@section StyleSheets {
    @Styles.Render("~/css.bundle/fileinput")
}
@{
    DataContext dataContext = Model.DataContext;

    // Define column headers, use null for field name to make column non-sortable
    ViewBag.HeaderColumns = new[]
    {   //    { "Field", "Label", "Classes" }
        new[] { null, "Status", "text-center valign-middle" },
        new[] { "VendorPatchName", "Patch ID", "text-center" },
        new[] { "Title", "Patch Title", "text-left"},
        new[] { "VendorName" , "Vendor", "text-left" },
        new[] { "ProductName" , "Product", "text-left" },
        new[] { "VendorReleaseDate", "Release&nbsp;Date", "text-center" },
        new[] { "EvaluationDeadline", "Deadline", "text-center"},
        //new[] { "IsExpedited", "Action", "text-center" },
        new[] { null, "Documents", "text-center valign-middle" }
    };

    
    ViewBag.HideUnauthorizedControls = true;

    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.AddNewEditTitle = "Patch for Assessment";
}
@helper PatchFilter()
{
    <div class='row'>
        <div class='col-md-4'>
            <div class='form-group'>
                <label for='patchfilter'>Patch ID Filter:</label>
                <div class='right-inner-addon'>
                    <i class='glyphicon glyphicon-search'></i>
                    <input class='form-control' type='search' id='patchfilter' placeholder='Search' />
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='form-group'>
                <label for='vendorfilter'>Vendor Name Filter:</label>
                <div class='right-inner-addon'>
                    <i class='glyphicon glyphicon-search'></i>
                    <input class='form-control' type='search' id='vendorfilter' placeholder='Search' />
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='form-group'>
                <label for='platformfilter'>Product Name Filter:</label>
                <div class='right-inner-addon'>
                    <i class='glyphicon glyphicon-search'></i>
                    <input class='form-control' type='search' id='platformfilter' placeholder='Search' />
                </div>
            </div>
        </div>
    </div>
}

@helper BodyRows()
{
    string statusLightsImagePath = Model.GetPageSetting(ViewBag, "statusLightsImagePath", "~/Images/StatusLights/Small/");
    statusLightsImagePath = Url.Content(statusLightsImagePath).EnsureEnd('/');

    <td width="5%" class="text-center valign-middle"><img src="@(statusLightsImagePath)greenlight.png" alt="Enabled" title="Security Patch" data-bind="visible: PatchClassKey !== 2" ><img src="@(statusLightsImagePath)disabledlight.png" alt="Disabled" title="Not A Security Patch" data-bind="visible: PatchClassKey === 2"></td>
    <td width="10%" class="text-left valign-middle" nowrap><button type="button" class="btn btn-link" data-bind="text: VendorPatchName, click: $parent.viewPageRecord"></button></td>
    <td width="15%" class="text-left valign-middle" data-bind="text: Title"></td>
    <td width="15%" class="text-left valign-middle" data-bind="text: VendorName"></td>
    <td width="15%"class="text-left valign-middle" data-bind="text: ProductName"></td>
    <td width="20%" class="text-center valign-middle" data-bind="text: VendorReleaseDate.formatDate(DateFormat)"></td>
    <td width="10%" class="text-center valign-middle" data-bind="text: EvaluationDeadline.formatDate(DateFormat)"></td>
    @*<td width="5%" class="text-center valign-middle"><button type="button" class="btn btn-danger btn-sm" data-bind="click: updatePatchStatus.bind($data), visible: !(IsInitiated)">Initiate</button></td>*@
    <td width="5%" class="text-center valign-middle"><button type="button" class="btn btn-default btn-sm" data-bind="click: openManageDocumentsDialog.bind($data), enable: $parent.dataHubIsConnected">Docs&nbsp;&nbsp;<span class="badge" data-bind="text: getDocumentCount(ID, $($element)), attr: {id: 'documentCount' + ID}">0</span></button></td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.canEdit() && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.canDelete() && !IsDeleted && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
}
@helper AddNewEditDialog(DataContext dataContext)
{
    int defaultCriticalAlarmDays;
    string setting;

    // Get default critical alarm days
    if (!Model.Global.ApplicationSettings.TryGetValue("criticalAlarmDays", out setting) || !int.TryParse(setting, out defaultCriticalAlarmDays)) {
        defaultCriticalAlarmDays = 3;
    }

    // Validate default value
    defaultCriticalAlarmDays = Math.Abs(defaultCriticalAlarmDays);

    if (defaultCriticalAlarmDays < 2 || defaultCriticalAlarmDays > 9) {
        defaultCriticalAlarmDays = 3;
    }

    <div class="row">
        <div class="col-md-6">
            @Html.Raw(Model.AddValueListSelectField<PatchView>("PatchClassKey", "patchClass"))
            <div data-bind="visible: $parent.recordMode()==RecordMode.Edit || $parent.recordMode()==RecordMode.View ">
                @Html.Raw(dataContext.AddInputField<PatchView>("VendorPatchName", fieldLabel: $"{Model.Global.CompanyAcronym} Patch Identifier"))
            </div>
            <div class="form-control" id="vendorName" style="display: none"></div>
            @Html.Raw(dataContext.AddSelectField<PatchView, Vendor>("VendorID", "ID", "Name", "Name", restriction: new RecordRestriction("IsDeleted = 0")))
            @Html.Raw(dataContext.AddDateField<PatchView>("VendorReleaseDate"))
            @Html.Raw(dataContext.AddDateField<PatchView>("EvaluationDeadline"))
            @Html.Raw(Model.AddValueListSelectField<PatchView>("ImpactKey", "impact"))
            @Html.Raw(dataContext.AddSelectField<PatchView, Platform>("PlatformID", "ID", "Name", "Name"))
            <div data-bind="visible: $parent.recordMode()==RecordMode.AddNew">
                <label for="smeSelect">Available SMEs:</label>
                <select class="form-control" id="smeSelect"></select>
            </div>
        </div>

        <div class="col-md-6">
            @Html.Raw(dataContext.AddInputField<PatchView>("Link", "url"))
            @Html.Raw(dataContext.AddTextAreaField<PatchView>("Title"))
            @Html.Raw(dataContext.AddTextAreaField<PatchView>("Detail", 3))
            @Html.Raw(dataContext.AddTextAreaField<PatchView>("Citations"))
            @Html.Raw(dataContext.AddInputField<PatchView>("AlarmCriticalDays"))
            @{
                dataContext.AddPageDefinedFieldInitialization("AlarmCriticalDays",
                    /* Initial Value: */ defaultCriticalAlarmDays.ToString(),
                    /* RegEx Pattern: */ $"^[{defaultCriticalAlarmDays}-9]+$",
                    /* Error Message: */ $"Cannot be less than {defaultCriticalAlarmDays} or greater than 9.");
            }
            @Html.Raw(dataContext.AddCheckBoxField<PatchView>("IsExpedited"))
        </div>
    </div>
    <div class="row" data-bind="visible: $parent.recordMode()==RecordMode.AddNew">
        <div class="col-md-12">
            <div class="form-group">
                <label for="uploadFiles">Add Patch Related Documents:</label>
                <input id="uploadFiles" name="uploadFiles[]" type="file" multiple class="file-loading">
            </div>
        </div>
    </div>
}
@Html.Partial("PagedViewModel")
<div id="manageDocumentsDialog" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <iframe style="border: none" id="manageDocumentsFrame"></iframe>
                <button type="button" class="btn btn-default pull-right popup-ok-button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/js.bundle/fileinput")
    <script>
        @Html.Raw(Model.RenderViewModelConfiguration<PatchView>(ViewBag, "-IsExpedited"))
        @Html.Raw(Model.RenderValueListClientLookupFunction("impact"))
        @Html.Raw(Model.RenderAbstract<Platform>("Name"))
        @Html.Raw(Model.RenderAbstract<Platform>("Version"))
        @Html.Raw(Model.RenderAbstract<Vendor>("Abbreviation", "ID", "lookupVendorName", "VendorName"))
      

        function getDocumentCount(sourceID, element) {
            if (viewModel.dataHubIsConnected()) {
                dataHub.queryDocumentDetailCount("Patch", sourceID, null).done(function(count) {
                    $("#documentCount" + sourceID).text(count.toString());
                });
            }

            return element.text();
        }

        $(window).resize(function() {
            setTimeout(function() {
                $("#manageDocumentsFrame").attr("height", ($(document).height() - 150) + "px");
            }, 500);
        });

        function openManageDocumentsDialog(record) {
            const count = parseInt(notNull($("#documentCount" + record.ID).text(), 0));
            var initialMode = "";

            if (count < 1)
                initialMode = "/AddNew";

            $("#manageDocumentsFrame")
                .attr({
                    "src": "@Url.Content("~/Main/Documents")" + initialMode + "?SourceTable=Patch&SourceField=PatchID&SourceID=" + record.ID + "&Name=" + encodeURIComponent(record.PatchMnemonic),
                    "height": ($(document).height() - 150) + "px",
                    "width": "100%"
                });

            $("#manageDocumentsDialog").modal("show");
        }

        $("#manageDocumentsDialog").on("hidden.bs.modal", function() {
            // Refresh page counts after editing tasks
            viewModel.queryPageRecords();

            // Clear frame page
            $("#manageDocumentsFrame").attr("src", "about:blank");
        });

        const fileUploadUrl = "@Html.Raw(Url.Content("~/FileUploadHandler.ashx?SourceTable=PatchDocument&SourceField=PatchID"))";
        var selectedFiles;

        $(viewModel).on("beforeSave", function (event, observableRecord) {
            observableRecord.PlatformID = $('#selectPlatformID').val();
            //console.log($('#selectPlatformID').val());
            selectedFiles = $("#uploadFiles").fileinput("getFileStack");
        });

        $(viewModel).on("recordSaved", function(event, record, newRecord) {
            if (newRecord && selectedFiles.length > 0 && viewModel.dataHubIsConnected()) {
                dataHub.getLastPatchID().done(function(patchID) {
                    $("#uploadFiles").fileinput({
                        uploadUrl: fileUploadUrl + "&SourceID=" + patchID.toString(),
                        uploadAsync: true
                    });

                    for (var i = 0; i < selectedFiles.length; i++) {
                        $("#uploadFiles").fileinput("addToStack", selectedFiles[i]);
                    }

                    $("#uploadFiles").fileinput("upload");
                });
            }
            
            if (newRecord && viewModel.dataHubIsConnected()) {
                dataHub.getLastPatchID().done(function(lastPatchID) {
                    dataHub.queryPatchUserAccountPlatformBusinessUnitUserAccountViews(record.PlatformID).done(function(records) {
                        for (var i = 0; i < records.length; i++) {
                            var temp = {
                                "PatchID": lastPatchID,
                                "BusinessUnitID": records[i].BusinessUnitID,
                                "PatchStatusKey": 2
                            };
                            dataHub.addNewPatchStatus(temp);
                        
                        }

                    });
                });

                    
            }
        });

        $(function () {
            $("#pageHeader").append("@Html.Raw(PatchFilter().ToString().RemoveDuplicateWhiteSpace().Replace("\r\n", ""))");
            
            $('#patchfilter').on('keyup', function (e) {
                if ($('#patchfilter').val().length + $('#platformfilter').val().length + $('#vendorfilter').val().length == 0) {
                    viewModel.filterText = '%';
                    viewModel.filterPageRecords();
                } else {
                    viewModel.filterText = $('#patchfilter').val() + ';' + $('#platformfilter').val() + ';' + $('#vendorfilter').val();
                    viewModel.filterPageRecords();

                }

            });

            $('#platformfilter').on('keyup', function (e) {
                if ($('#patchfilter').val().length + $('#platformfilter').val().length + $('#vendorfilter').val().length == 0) {
                    viewModel.filterText = '%';
                    viewModel.filterPageRecords();
                } else {
                    viewModel.filterText = $('#patchfilter').val() + ';' + $('#platformfilter').val() + ';' + $('#vendorfilter').val();
                    viewModel.filterPageRecords();

                }

            });

            $('#vendorfilter').on('keyup', function (e) {
                if ($('#patchfilter').val().length + $('#platformfilter').val().length + $('#vendorfilter').val().length == 0) {
                    viewModel.filterText = '%';
                    viewModel.filterPageRecords();
                } else {
                    viewModel.filterText = $('#patchfilter').val() + ';' + $('#platformfilter').val() + ';' + $('#vendorfilter').val();
                    viewModel.filterPageRecords();

                }

            });

            $("label#inputAlarmCriticalDays").hide();
            $("#inputAlarmCriticalDays").hide();
            $("#manageDocumentsDialog").modal({ show: false, backdrop: "static", keyboard: false });
           

            $("#addNewEditDialog").on("shown.bs.modal", function() {
                // On add/edit dialog shown, disable data-dismiss buttons on parent pop-up
                const dismissButtons = $("#manageDocumentsDialog", window.parent.document).find("button[data-dismiss]");
                dismissButtons.prop("disabled", true);
                dismissButtons.invisible();

                //$('#dateVendorReleaseDate').datepicker().on("changeDate", function (e) {
                //    //console.log("I changed the date...");
                //});

                $('#dateVendorReleaseDate').change(function () {
                    var date = new Date($('#dateVendorReleaseDate').val());
                    console.log(new Date(new Date().setTime(date.getTime() + 35 * 86400000))); //86,400,000 is the number of milliseconds in a day.
                    $('#dateEvaluationDeadline').datepicker('update', (new Date(new Date().setTime(date.getTime() + 35 * 86400000))));
                });


                $("#uploadFiles").fileinput({
                    uploadUrl: fileUploadUrl,
                    uploadAsync: true,
                    showUpload: false,
                    showRemove: true,
                    showPreview: false,
                    minFileCount: 1,
                    maxFileCount: 12
                });

                //dataHub.queryPlatformsByVendor($('select#selectVendorID').val()).done(function (data) {
                //    $('#selectPlatformID').children().remove();
                //    $.each(data, function (key, val) {
                //        $('#selectPlatformID').append(new Option(val.Name, val.ID));
                //    });
                //}); 

                $('select#selectVendorID').on("change", function (event, handler) {
                    //console.log($('select#selectVendorID').val());
                    dataHub.queryPlatformsByVendor($('select#selectVendorID').val()).done(function(data) {
                        $('#selectPlatformID').children().remove();
                        $.each(data, function (key, val) {
                            $('#selectPlatformID').append(new Option(val.Name, val.ID));
                            //console.log(val.ID);
                        });
                        $('select#selectPlatformID').trigger("change");
                    }); 
                    
                });
                
                $('select#selectPlatformID').on("change", function (event, handler) {
                    console.log($('select#selectPlatformID').val());
                    dataHub.queryUserAccountPlatformBusinessUnitDetails($('select#selectPlatformID').val()).done(function (data) {
                        if (data.length === 0)
                        {
                            $('select#smeSelect').children().remove();
                            $('select#smeSelect').append(new Option("Warning! No SMEs are listed for this product."));
                        }
                        else {
                            $('select#smeSelect').children().remove();
                            $.each(data, function (key, val) {
                                $('select#smeSelect').append(new Option(val.BUName + ' - ' + val.FirstName + ' ' + val.LastName, val.UserAccountID));
                                //console.log(val.ID);
                            });
                        }
                    });

                });

            });

        });
        
        function Truncate(string) {
            if (string.length > 30)
                return string.slice(0, 27) + '...';
            else
                return string;
        }
    </script>
}